form {
  min-width: 700px;
  min-height: 300px;
  background-color: rgba(42, 70, 81, 0.95);
  padding: 50px 80px;
  border-radius: 40px;
}
.ant-select-selector {
  padding: 0 10px !important;
}
.input-number {
  margin-top: 0 !important;
}
.ant-select-selection-item {
  padding: 0 !important;
  border-color: transparent !important;
}

.ant-select-selection-search {
  inset-inline-start: 0 !important;
  inset-inline-end: 0 !important;
}

@media (max-width: 800px) {
  form {
    min-width: 200px;
    min-height: 300px;
    background-color: rgba(42, 70, 81, 0.95);
    padding: 50px 30px;
    border-radius: 40px;
  }
}
