.form-section {
  border: 2px solid blue;
  min-height: 800px;
  background-image: url("../../assets/images/bg-form.svg");
  background-repeat: no-repeat;

  background-position: bottom;
}

form {
  min-width: 700px;
  background-color: rgba(42, 70, 81, 0.95);
  padding: 50px 100px;
  border-radius: 40px;
}
