.form-section {
  min-height: 800px;
  background-image: url("../../assets/images/bg-form.svg");
  background-repeat: no-repeat;

  background-position: bottom;
}

@media (max-width: 800px) {
  .form-section {
    min-height: 700px;
    background-image: none;
    padding: 0 10px;
  }
}
