.section-info {
  border: 2px solid orange;
  min-height: 800px;
}
.title-section {
  font-size: 48px;
  letter-spacing: 3px;
}
.container-icon {
  font-size: 18.34px;
}

@media (max-width: 700px) {
  .title-section {
    font-size: 35px;
    letter-spacing: 0;
  }
  .container-icon {
    padding: 30px 0;
    font-size: 15px;
  }
  .container-img {
    width: 15rem !important;
    height: 15rem !important;
  }
}
