.section-home {
  min-height: 850px;
  background-image: url("../../assets/images/bg-hero.svg");
  background-repeat: no-repeat;

  background-position: center;
}
.container-h1 {
  line-height: 65px;
}
.span-home {
  font-size: 85px;
  letter-spacing: 15px;
}
.title-home {
  font-size: 36px;

  letter-spacing: 3px;
}
.p-hero {
  font-size: 18.34px;
}

.btn-hero {
  font-size: 18.34px;
}

@media (max-width: 640px) {
  .span-home {
    font-size: 55px;
    letter-spacing: 0;
  }
  .title-home {
    font-size: 23px;
  }
  .section-home {
    background-image: url("../../assets/images/bg-hero-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom;

    background-size: contain;
    min-height: 700px;
  }
  .container-btn {
    margin-top: 35px !important;
  }

  .p-hero {
    display: none;
  }
}
