.section-home {
  border: 2px solid #f00;
  min-height: 850px;
  background-image: url("../../assets/images/bg-hero.svg");
  background-repeat: no-repeat;

  background-position: center;
}
.container-h1 {
  line-height: 65px;
}
.span-home {
  font-size: 85px;
  letter-spacing: 15px;
}
.title-home {
  font-size: 36px;

  letter-spacing: 3px;
}
.p-hero {
  font-size: 18.34px;
}

.btn-hero {
  font-size: 18.34px;
}
